<div class="col-6 col-md-4 col-sm-12" id="card_<%= article.id %>">
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80"
          alt="Card image cap">
      <div class="card-body">
        <div class="d-flex">
          <div class="mr-auto p-2">
            <h5 class="card-title">
              <%= article.question.capitalize %>
            </h5>
          </div>
          <div class="p-2">
            <% if article.solved == false %>
              <%= link_to 'Open', status_lab_forum_path(article), remote: true,
                  class: 'btn btn-success btn-sm', id: "card-btn-#{article.id}" %>
            <% else %>
              <%= link_to 'Closed', status_lab_forum_path(article), remote: true,
                  class: 'btn btn-danger btn-sm', id: "card-btn-#{article.id}" %>
            <% end %>
          </div>
        </div>

        <div class="d-flex">
          <div class="p-2">User: <%= article.user.username.capitalize %></div>
          <div class="ml-auto p-2">
            <% if clicked(article.id) %>
              <%= link_to (fa_icon "thumbs-up"), lab_forum_likes_path(article),
                  { method: :post,
                    class: 'thumb-clicked',
                    id: "like-btn-#{article.id}",
                    remote: true
                    } %>
            <% else %>
              <%= link_to (fa_icon "thumbs-up"), lab_forum_likes_path(article),
                  { method: :post,
                    id: "like-btn-#{article.id}",
                    class: 'thumb',
                    remote: true
                    } %>
            <% end %>

          </div>
        </div>

        <p class="card-text">
          <small class="text-muted">
            <span class="icon"><i class="fa fa-eye"></i></span>
            <span class="vote_count">?</span>&emsp;
            <% if clicked(article.id) %>
              <span class="icon"><i class="fa fa-heart heart_clicked" id="heart-<%= article.id %>"></i></span>
            <% else %>
              <span class="icon"><i class="fa fa-heart" id="heart-<%= article.id %>"></i></span>
            <% end %>
            <span class="vote_count" id="like-num-<%= article.id %>">
              <%= LabForum.find_by(id: article.id).click %>
            </span>&emsp;
            <span class="icon"><i class="fa fa-comment"></i></span>
            <span class="vote_count">?</span>
          </small>
        </p>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated at
          <%= distance_of_time_in_words(article.updated_at, Time.current) %>
        </small><br/>
        <small class="text-muted">
          <% if user_signed_in? && ( article.user == current_user ) %>
            <%= link_to (fa_icon "eye"), lab_forum_path(article) %>&emsp;
            <%= link_to (fa_icon "edit"), edit_lab_forum_path(article) %>&emsp;
            <%= link_to (fa_icon "trash"), lab_forum_path(article), remote: true,
                  method: "delete", data: { confirm: "Are you sure?" } %>
          <% else %>
            <%= link_to (fa_icon "eye"), lab_forum_path(article) %>
          <% end %>
        </small>
      </div>
    </div>
  </div>
