<div class="modal fade" id="edit_forum">
  <%= simple_form_for(form_type, url: url, remote: true) do |f| %>
    <div class="modal-dialog mw-100 w-75">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="color:#737373;font-style:italic"><%= t('lab_forum.edit_question') %></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= f.input :question %>
          <%= f.input :description, as: :ckeditor, input_html: { ckeditor: { height: 400 } } %>
          <%= f.input :category, as: :radio_buttons, collection: LabForum::CATEGORY, wrapper: :horizontal_collection_inline %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Submit", data: { disable_with: "Submitting..." }, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
