<tr id="<%= article.id %>">
  <td>
    <% if article.solved == false %>
      <%= link_to 'Open', status_lab_forum_path(article), remote: true, class: 'btn btn-success', id: "btn-#{article.id}" %>
    <% else %>
      <%= link_to 'Closed', status_lab_forum_path(article), remote: true, class: 'btn btn-danger', id: "btn-#{article.id}" %>
    <% end %>
  </td>
  <td class="q"><%= article.question %></td>
  <td class="user"><%= User.find_by(id: article.user_id).username.capitalize %></td>
  <td class="category"><%= article.category %></td>
  <td>
    <% if user_signed_in? && ( article.user == current_user ) %>
      <%= link_to (fa_icon "eye"), lab_forum_path(article), remote: true, class: 'btn' %>
      <%= link_to (fa_icon "edit"), edit_lab_forum_path(article), remote: true, class: 'btn' %>
      <%= link_to (fa_icon "trash"), lab_forum_path(article), remote: true,
            method: "delete", data: { confirm: "Are you sure?" }, class: 'btn'  %>
    <% else %>
      <%= link_to (fa_icon "eye"), lab_forum_path(article), class: 'btn' %>
    <% end %>
  </td>
  <td class="create"><%= article.created_at.to_s[0..-4] %></td>
  <td class="update"><%= article.updated_at == article.created_at ? "---" : article.updated_at.to_s[0..-4] %></td>
</tr>
