<section class="section example">
<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4"><%= @lab_forum.question %></h1>
        <!-- Author -->
        <p class="lead">
          by
          <a href="#"><%= User.find_by(id: @lab_forum.user_id).username.capitalize %></a>
        </p>
        <hr>
        <!-- Date/Time -->
        <p>Posted on <%= @lab_forum.created_at.to_s[0..-4] %></p>
        <% if @lab_forum.solved == false %>
          <%= link_to 'Open', status_lab_forum_path(@lab_forum), remote: true, class: 'btn btn-success', id: "btn-#{@lab_forum.id}" %>
        <% else %>
          <%= link_to 'Closed', status_lab_forum_path(@lab_forum), remote: true, class: 'btn btn-danger', id: "btn-#{@lab_forum.id}" %>
        <% end %>
        <!-- Default checked -->
        <hr>
        <!-- Post Content -->
        <p class="lead"><%= simple_format @lab_forum.description %></p>

        <blockquote class="blockquote">
          <p class="mb-0">No pain, no gain.</p>
          <footer class="blockquote-footer">No money.
            <cite title="Source Title">～</cite>
          </footer>
        </blockquote>
        <hr>
        <%= render "admin/comments/form" %>
        <%= render :partial => @comment, collection: @lab_forum.comments.reverse %>


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search（尚未開放）</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories（尚未開放）</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
