<% content_for :page_title,  "lotto" %>
<div class="container">
  <button id="btn" onclick="HelloClick()">Try it</button>
  <h1 id="message">訊息：</h1>
  <br />
  <button id="randbtn" onclick="getRandom()">產生亂數</button>
  <h1 id="random_num">亂數為：</h1>
  <br>
  <button id="lotto" onclick="RunLotto()">樂透產生器</button>
  <br><br>
  <input type="text" size="5" id="rand1" value="">
  <input type="text" size="5" id="rand2" value="">
  <input type="text" size="5" id="rand3" value="">
  <input type="text" size="5" id="rand4" value="">
  <input type="text" size="5" id="rand5" value="">
  <input type="text" size="5" id="rand6" value="">
  <br>
  <!-- <p id="demo"></p> -->
  <script>
      var btn,randbtn;
      var random;  
      var rand1, rand2, rand3, rand4, ramd5, rand6;
      
      function init(){ 
        btn     = document.getElementById("btn"); 
        randbtn = document.getElementById("randbtn");
        number  = document.getElementById("random_num");

        rand1 = document.getElementById("rand1"); 
        rand2 = document.getElementById("rand2"); 
        rand3 = document.getElementById("rand3"); 
        rand4 = document.getElementById("rand4"); 
        rand5 = document.getElementById("rand5"); 
        rand6 = document.getElementById("rand6"); 
      } 
      window.onload = init;

      function HelloClick(){ 
        if($('#message')[0].innerHTML == "訊息：哈囉！"){
          console.log($('#message')[0].innerHTML);
          $('#message').html('訊息：');
        }else{
          $('#message').html("訊息：哈囉！"); 
        }
      } 
      
      function getRandom(){ 
        random = Math.random()*10; 
        random = Math.floor(random); 
        randbtn.innerHTML = "產生亂數";
        number.innerHTML = '亂數為：' + random.toString();
      }  
      
      function RunLotto(size = 6, lowest = 1, highest = 10) {
        var numbers = [];
        for(var i = 0; i < size; i++) {
          var add = true;
          var randomNumber = Math.floor(Math.random() * highest) + 1;
          for(var y = 0; y < highest; y++) {
            if(numbers[y] == randomNumber) {
              add = false;
            }
          }
          if(add) {
            numbers.push(randomNumber);
          } else {
            i--;
          }
        }
        
        // 排順序（可不用）
        var highestNumber = 0;
        for(var m = 0; m < numbers.length; m++) {
          for(var n = m + 1; n < numbers.length; n++) {
            if(numbers[n] < numbers[m]) {
              highestNumber = numbers[m];
              numbers[m] = numbers[n];
              numbers[n] = highestNumber;
            }
          }
        }
        
        // document.getElementById("demo").innerHTML = numbers.join(", ");
        $("#rand1").val(numbers[0]);
        $("#rand2").val(numbers[1]);
        $("#rand3").val(numbers[2]);
        $("#rand4").val(numbers[3]);
        $("#rand5").val(numbers[4]);
        $("#rand6").val(numbers[5]);
    }
  </script>
</div>
