​<script>
  // .ready or .click
  // 參考網址：https://fullstack.qzy.camp/posts/1296
  // 參考網址：https://engmeter.blogspot.com/2015/03/jqueryjquery.html
  // $(document).ready(function(){...}); //寫法1，全稱 
  // $(function(){...});                 //寫法2，簡寫 
  // jQuery(function($){...});           //寫法3，簡寫    
  $(document).ready(function(){
      $("#which-weekly").html("第<%= weekly_num %>篇");
      $("#which-song").html("第<%= song_num %>首");
      $("#link-weekly").html("<a href='<%= weekly_link %>'><%= weekly_link %></a>");
      $("#link-song").html("<a href='<%= song_link %>'><%= song_link %></a>");
      $("#title-weekly").html("<%= weekly_title(weekly_link) %>");
      $("#title-song").html("<%= song_title(song_link) %>");
  })
</script>

<% content_for :page_title,  "Todo daily" %>
<%# https://www.w3schools.com/bootstrap4/bootstrap_tables.asp %>
<div class="container">
  <h2>每日必須做</h2>
  <p>明師在世的每一天都很幸福，因此依教奉行每天都很重要。請務必要好好依教奉行🙏</p>            
  <table class="table  table-hover">
    <thead>
      <tr>
        <th class="text-nowrap">事項</th>
        <th class="text-nowrap">篇數</th>
        <th>標題</th>
        <th class="text-nowrap">連結</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-nowrap">禪行週報</td>
        <td id="which-weekly" class="text-nowrap"></td>
        <td id="title-weekly" ></td>
        <td id="link-weekly" class="text-nowrap"></td>        
      </tr>
      <tr>
        <td class="text-nowrap">聽佛曲</td>
        <td id="which-song" class="text-nowrap"></td>
        <td id="title-song"></td>
        <td id="link-song" class="text-nowrap"></td>
      </tr>
      <tr>
        <td class="text-nowrap">心得見證</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <!-- <button id="renew-click" type="button" class="btn btn-primary">請按</button> -->
</div>
