<% content_for :page_title,  "TODO" %>

<div class="container-fluid">
  <h4><%= link_to t('todolist.add_todo') , new_todolist_path %></h4>
  <h1><%= t('todolist.all_todo') %></h1>
  <table class="table">
    <thead>
      <tr>
        <td><%= t('todolist.status') %></td>
        <td><%= t('todolist.content') %></td>
        <td><%= t('todolist.complete_time') %></td>
        <td><%= t('todolist.priority') %></td>
        <td><%= t('todolist.action') %></td>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
      <tr>
        <td>
          <% if todo.status == false %>
            <%= link_to t('todolist.undone'), status_todolist_path(todo), remote: true, class: 'btn btn-danger btn-sm', id: "btn-#{todo.id}" %>
          <% else %>
            <%= link_to t('todolist.done'), status_todolist_path(todo), remote: true, class: 'btn btn-success btn-sm', id: "btn-#{todo.id}" %>
          <% end %>
        </td>
        <td><%= todo.content %></td>
        <td><%= complete_time(todo.complete_time) %></td>
        <td><%= todo.priority %></td>
        <td>
          <%= link_to (fa_icon "eye"), todolist_path(todo), class: 'btn' %>
          <%= link_to (fa_icon "edit"), edit_todolist_path(todo), class: 'btn' %>
          <%= link_to (fa_icon "trash"), todolist_path(todo), class: 'btn', method: :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <script>

  </script>
</div>
