<% content_for :page_title,  "assignment: New" %>

<script>
  $(function () {
    $('.datepicker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss'
    });
  });
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="group"><h2>建立新清單</h2></div>

      <form class="simple_form new_todo" id="new_todo" novalidate="novalidate" action="/todolists" accept-charset="UTF-8" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group text required todo_content">
          <label class="text required" for="todo_content">Content <abbr title="required">*</abbr></label>
          <textarea class="form-control text required" name="todo[content]" id="todo_content">Default Content</textarea>
        </div>
        <div class="form-group select optional todo_priority form-group-valid">
          <label class="select optional" for="todo_priority">Priority</label>
          <select class="form-control is-valid select optional" name="todo[priority]" id="todo_priority"><option selected="selected" value="0">low</option>
            <option value="1">medium</option>
            <option value="2">high</option>
            <option value="3">urgent</option>
          </select>
        </div>
        <div class="input-group" data-target-input="nearest">
          <input id="complete_time" class="form-control datepicker" data-target="#complete_time" type="text" name="todo[complete_time]">
          <div class="input-group-append" data-target="#complete_time" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>

        <input type="submit" name="commit" value="Submit" data-disable-with="Submitting..." class="btn btn-primary">
        <a class="btn" href="/todolists">Back</a>
      </form>
    </div>

    <div class="col-sm-6"></div>
  </div>
</div>
