<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-4"><%= @todo.content %></h1>
        <p class="lead">
          by
          <a href="#"><%#= User.find_by(id: @todo.user_id).username.capitalize %></a>
        </p>
        <hr>
        <p>Posted on <%= @todo.created_at.to_s[0..-4] %></p>
        <% if @todo.status == false %>
          <%= link_to  t('todolist.undone'), status_todolist_path(@todo), remote: true, class: 'btn btn-danger btn-sm', id: "btn-#{@todo.id}" %>
        <% else %>
          <%= link_to  t('todolist.done'), status_todolist_path(@todo), remote: true, class: 'btn btn-success btn-sm', id: "btn-#{@todo.id}" %>
        <% end %>
        <hr>
        <p class="lead"><%= @todo.priority %></p>
        <hr>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Open Modal</button>
      </div>
      </div>
    </div>
  </div>
</body>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="color:#737373;font-style:italic">Modal Header</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <% if @todo.status == false %>
          <%= link_to  t('todolist.undone'), status_todolist_path(@todo), remote: true, class: 'btn btn-danger btn-sm', id: "btn-#{@todo.id}" %>
        <% else %>
          <%= link_to  t('todolist.done'), status_todolist_path(@todo), remote: true, class: 'btn btn-success btn-sm', id: "btn-#{@todo.id}" %>
        <% end %>

        <h5 class="mt-4">
          <%= @todo.content %>
        </h5>
        <p class="lead">Priority: <%= @todo.priority %></p>
        <p>Posted on <%= @todo.created_at.to_s[0..-4] %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
