<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="<%= lab_forum_index_path %>"><%= t('navbar.hans_web') %></a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="<%= page_path('home') %>"><%= t('navbar.home') %></a></li>
    <li class="nav-item"><a class="nav-link" href="<%= lab_forum_index_path %>"><%= t('navbar.lab_forum') %></a></li>
    <li class="nav-item"><a class="nav-link" href="<%= todolists_path %>"><%= t('navbar.todo') %></a></li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        <%= t('navbar.pages') %>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="<%= page_path('todo') %>"><%= t('navbar.todo_daily') %></a>
        <a class="dropdown-item" href="<%= page_path('jsbasic') %>"><%= t('navbar.ajax_basic') %></a>
        <a class="dropdown-item" href="<%= page_path('lotto') %>"><%= t('navbar.lotto') %></a>
        <a class="dropdown-item" href="<%= page_path('squared') %>"><%= t('navbar.squared_up') %></a>
        <a class="dropdown-item" href="<%= bmi_path %>"><%= t('navbar.bmi_cal') %></a>
        <a class="dropdown-item" href="<%= name_path %>"><%= t('navbar.name_form') %></a>
        <a class="dropdown-item" href="<%= page_path('help') %>"><%= t('navbar.help') %></a>
      </div>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <%#= content_tag :li do %>
      <%#= link_to 'Switch to English', locale: :en %>
    <%# end unless current_page?(locale: :en) %>

    <%#= content_tag :li do %>
      <%#= link_to 'Switch to Taiwanese', locale: :"zh-TW" %>
    <%# end unless current_page?(locale: :"zh-TW") %>

    <%#= link_to "中文版", action: :set_locale, locale: "zh-TW" %>
    <%#= link_to "English", action: set_locale, locale: "en" %>
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      <%= t('navbar.account') %>
    </a>
    <div class="dropdown-menu  dropdown-menu-right">
      <% if current_user %>
        <%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <% else %>
        <a class="dropdown-item" href="<%= new_user_registration_path %>"><span class="fa fa-user"></span><%= t('navbar.signup') %></a>
        <a class="dropdown-item" href="<%= new_user_session_path %>"><span class="fa fa-sign-in"></span><%= t('navbar.login') %></a>
      <% end %>
    </div>
  </ul>

  <ul class="navbar-nav text-right">
    <%= content_tag :li do %>
      <li class="nav-item"><%= link_to 'English', { locale: :en }, class: "nav-link" %></li>
    <% end unless current_page?(locale: :en) %>
    <%= content_tag :li do %>
      <li class="nav-item"><%= link_to '繁體中文', { locale: :"zh-TW" }, class: "nav-link" %></li>
    <% end unless current_page?(locale: :"zh-TW") %>
  </ul>
</nav>


